<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <level>severity</level>
                <timestamp>time</timestamp>
            </fieldNames>

            <customFields>{"project-name":"@project.name@", "project-version":"@project.version@"}</customFields>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.forgerock" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.forgerock.openbanking.commons.auth" level="TRACE"/>

    <springProfile name="console-logging">
        <logger name="org.springframework" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!console-logging">
        <logger name="org.springframework" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

</configuration>