<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105313782-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <img id="main-logo" th:src="@{/images/forgebank-logo.png}" height="45px" alt="ForgeBank"/>
            </a>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>
